@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 100%;
    }
    .box-quotation-home .content-background {
        padding: 50px 20px;
    }
    .icon-home {
        display: none;
    }
    .wrapper {
        display: block;
    }
    #masthead {
        border-bottom: 1px solid #f1f1f1;
    }
    .navbar-mobile,
    .navbar-mail {
        display: block;
    }
    .brand {
        width: 70px;
        margin-right: 20px;
        display: flex;
        align-items: center;
    }
    .banner {
        margin-top: 5px;
        width: 150px;
        line-height: 1;
        font-size: 12px;
        direction: ltr;
    }
    #site-branding {
        margin-top: 0px;
    }
    #site-navigation,
    #masthead .header-title,
    .pull-right {
        display: none;
    }
    .site-branding .custom-logo-link {
        width: 60px;
        margin-top: 5px;
        margin-left: 5px;
        display: block;
    }
    .site-branding img {
        border: 0 none;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
}

@media (max-width: 768px) {
    .box-quotation-home .content-background {
        padding: 50px 70px;
    }
    .list-quotation li {
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
    .category-sub .list-sub-item li a:before {
        content: none;
    }
}

@media (max-width: 767px) {
    #colophon .animated {
        margin-bottom: 20px;
    }
    .category-type .wc .wc-inner .list-item li {
        display: block;
        margin-bottom: 10px;
    }
    .category-type .wc .wc-inner .list-item li:not(:first-child):before {
        content: none;
    }
    .category-sub .list-sub-item li a {
        padding: 5px 10px;
    }
}

@media (max-width: 576px) {
    .box-quotation-home .content-background {
        padding: 50px 30px;
    }
    .list-quotation li {
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
}